/* Container styling for pagination */
.pagination-container {
  align-items: left;
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

/* Page items styling */
.page-item {
  margin: 0 3px;
  font-size: 15px;
}

/* Page link styling */
.page-link {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Active page styling */
.page-item.activek {
  background-color: #0056b3;
  color: #fff;
  font-weight: bold;
  padding: 8px;
}

/* Disabled page link styling */
.page-item.disabled {
  background-color: #ddd;
  color: #bbb;
  pointer-events: none;
}

/* Hover effect on page links */
.page-link:hover {
  background-color: #0056b3;
  color: white;
}

.metadata {
  border-right: 2px solid rgb(234, 229, 229);
}

/* Default: Column layout for larger screens */
.responsive-layout {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spacing between cards */
}

.card-width {
  width: 205px; /* Fixed card width */
}

/* For tablets and phones: Row layout */
@media (max-width: 1200px) {
  .responsive-layout {
    flex-direction: row;
    flex-wrap: wrap; /* Allows wrapping if space is insufficient */
    justify-content: space-around; /* Distributes cards evenly */
  }

  .card-width {
    width: auto; /* Cards take up available space */
    flex: 1 1 calc(33% - 10px); /* Adjust card width dynamically */
    margin-bottom: 10px; /* Space between rows of cards */
  }
}
