.full-height {
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
  }

.section1{
    color: whitesmoke;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading1{
font-size: 50px;
font-weight: bolder;
}

.heading2 {
    font-size: 30px;
    font-weight: bold;
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.heading3{
    color: black;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
}

.subheading1{
    color: rgb(132, 132, 132);
}

.subtitle1{
    font-size: 16px;
}
.subtitle2{
    color: black;

}

.btnContribute{
border: 2px solid red;
background-color: transparent;
padding: 10px 20px;
margin:4px;
width: auto;
  transition: all 0.3s ease;
}

.btnDiscover{
 background-color: red;
 border: none;
 padding: 10px 20px;
 margin: 4px;
 width: auto;
  transition: all 0.3s ease;
}

.btnSection4{
    background-color: transparent;
    color: brown;
    margin-left: 8px;
    border: none;
    
}

.card1{
    background-color:  whitesmoke;
    width: auto;
    transition: all 0.3s ease;
    
    
}

.card2{
    background-color:  whitesmoke; 
    padding: 30px 0px 30px 0px;
}

.ExplorePage{
    background-color:  whitesmoke; 
    padding: 30px 0px 30px 0px;
}

.card3{
    background-color:  white; 
    padding: 30px 0px 30px 0px;
}

.card4{
    background-color: transparent;
}


.carousel-image {
    width: 100%; /* Image takes up 100% of the container width */
    height: auto; /* Maintain aspect ratio */
    max-height: 80vh; /* Ensure the image doesn't overflow the section */
    object-fit: cover;/* Cover ensures the image fills the area */
  }

  .image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   width: auto;

  }

  
  .studying-image {
    width: 60%;
    height: auto;
    object-fit: cover; 
    display: block;
  }
  
  