.myMaterials {
  background-color: whitesmoke;
}

.myMaterials .searchHeader {
  align-items: center;
  justify-content: center;
  margin: 1% 1% 0% 1%;
}

.myMaterials .headings2 {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

.myMaterials .subtitles1 {
  color: white;
  font-size: 14px;
}

.myMaterials .card {
  background-color: whitesmoke;
  border: 1px solid rgb(196, 192, 192);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.myMaterials .card:hover {
  transform: scale(1.05);
}

.btnAdd {
  background-color: rgb(228, 197, 158);
  border: none;
  padding: 10px 20px;
  margin: 4px;
  width: auto;
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  color: black;
  height: 38px;
  white-space: nowrap;
  line-height: 1;
  font-size: smaller;
}

.myMaterials .btnOpen {
  color: rgb(171, 61, 61);
  background-color: transparent;
  border: 0;
  font-size: smaller;
}

.myMaterials .cardDesc {
  text-align: left;
  font-size: smaller;
}

.myMaterials .search-wrapper {
  position: relative;
  width: 100%;
}

.myMaterials .search-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: rgb(171, 61, 61);
  cursor: pointer;
}

.myMaterials .search-input {
  border: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.myMaterials .icon-group {
  position: absolute;
  top: 8px; /* Position it near the top of the image */
  right: 8px; /* Position it near the right of the image */
  display: flex;
  gap: 10px;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Slight white background for visibility */
  padding: 5px;
  border-radius: 5px;
}

.myMaterials .icon-group .fa-icon {
  margin-left: 5px; /* space between icons */
}

.myMaterials .icon-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.myMaterials .card {
  position: relative;
}

.materialHeader {
  background-color: rgb(146, 12, 12);
  padding: 0% 1% 0% 1%;
}

.materialList {
  padding-top: 1%;
}

.materialBTN:hover {
  background-color: whitesmoke;
  color: black;
}

.authoredFilterCol {
  max-width: 18%;
  border-right: 2px solid rgb(225, 224, 224);
  padding: 1%;
}

.authoredFilterCol .filterDiv {
  border-bottom: 2px solid rgb(225, 224, 224);
  padding-bottom: 2%;
}

.filterSubHeader {
  font-size: medium;
  font-weight: bold;
  padding-top: 2%;
}

.filterData {
  font-size: 14px;
  margin-left: 10px;
}

.makeFilterScroll {
  max-height: 400px;
  overflow-y: auto;
}
