.myMaterials{
    padding-top: 20px;
}



.myMaterials .sections{
    height: auto;
    padding: 0% 3%;
    
}
.myMaterials .headings2{
    font-size: 40px;
    font-weight: bolder;
    color: white
}


.myMaterials .subtitles1{
    color: white;
    font-size: 14px;
}

.myMaterials .card{
    background-color: whitesmoke;
    border: 1px solid rgb(171, 61, 61);
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.myMaterials .card:hover{
    transform: scale(1.05);
}

.btnAdd{
    background-color: rgb(228, 197, 158);
     border: none;
     padding: 10px 20px;
     margin: 4px;
     width: auto;
     border-radius: 10px; /* Add rounded corners */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    color: black;
    height: 38px;
    white-space: nowrap;
    line-height: 1;
    font-size: smaller;
    }

.myMaterials .btnOpen{
    color: rgb(171, 61, 61);
    background-color: transparent;
    border: 0;
    font-size: smaller;
}

.myMaterials .cardDesc{
    text-align: left;
    font-size: smaller;
}

.myMaterials .search-wrapper{
    position: relative;
    width: 100%;
    
   
}

.myMaterials .search-btn{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color:white;
  cursor: pointer;
  
}

.myMaterials .search-input{
    background-color: transparent;
    border: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.myMaterials .search-input::placeholder{
    color: white;
    opacity: 0.5;
}

.myMaterials .pagination-container{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  background-color: rgb(228, 197, 158);
  padding: 10px;
  border-radius: 50px; /* Pill shape */
  width: fit-content; /* Ensures the container fits its contents */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
  margin: auto ;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.myMaterials .more-btn{
    background-color: rgb(128, 61, 59);
  color: white;
  border-radius: 50px;
  padding: 5px 15px;
  border: none;
  font-weight: bold;
  font-size: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.myMaterials .next-btn{
   background-color: transparent;
  color:black;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.myMaterials .next-btn .next-arrow{
    font-size: 18px;
}

.myMaterials .more-btn:hover{
    background-color: #3a44c0;
}

.myMaterials .next-btn:hover{
    background-color: #b0c3ff;
}