body {
  margin: 0;
  padding-top: 90px;
}

.main {
  background-color: rgb(146, 12, 12);
}

.navbar-nav .nav-item .nav-link {
  color: whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fixed-top {
  z-index: 1050; /* Ensure the navbar stays on top */
}

footer {
  margin-top: auto;
}
