body {
  margin: 0;
  padding: 0;
}

.main{
  background-color: rgb(146, 12, 12);
 
}

.navbar-nav .nav-item .nav-link {
  margin-right: 10px; /* Adjust the value as needed */
  color: azure;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
